<% if flash.any? %>
  <section id="alert_container">
    <% flash.each do |message_type, message| %>
      <%= content_tag :div, class: "alert alert-dismissible fade show alert-#{message_type}" do %>
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <% end %>
    <% end %>
  </section>
<% end %>
